
{% extends 'core/base.html' %}

{% block title %}About | {% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1 class="title">About Us</h1>
            <p>Welcome to my Blog Page. Founded with a mission to accomplish the task given my trainer to develop a Blog Web Application using django, I strive to deliver insightful and engaging webpage!</p>
            <hr>
            <h2 class="subtitle">Our Story</h2>
            <p>My Trainer gave a task to build a Blog Web Application.</p>
            <hr>
            <h2 class="subtitle">Meet the Team</h2>
            <p>I am Yerram Karthik,Developer!</p>
            <hr>
            <h2 class="subtitle">Contact Us</h2>
            <p>I'd love to hear from you! Whether you have feedback, suggestions, or any other inquiries, feel free to reach out to me through : yerramkarthik29@gmail.com,8897523926.</p>
        </div>
    </div>
{% endblock %}
